ion-slides {

  --bullet-background: var(--ion-color-medium);
  --bullet-background-active: var(--ion-color-primary);

  height: 100% !important;

  ion-slide {

    .slide {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .img-wrapper {
      width: 50%;
      display: inline-block;
      padding: 30px;
    }

    .slide-image {
      width: 100%;
    }

    .caption {
      margin-right: auto;
      margin-left: auto;
      width: 80%;

      .slide-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 16px;
      }

      .slide-text {
        font-size: 14px;
      }
    }
  }
}