h5 {
  background: #fff;
  color: var(--ion-color-medium);
  cursor: pointer;
  position: relative;
  padding: 1em 0.35em;
  border-bottom: 1px solid var(--ion-color-light-tint);
  margin: 0;

  ion-icon {
    position: absolute;
    right: 1em;
    top: 1.2em;
    font-size: 0.95em;
  }
}

div {
  position: relative;
}

.active {
  display: block
}

.inactive {
  display: none;
}